#
# Default ignored files (Pycharm ide)
/venv/
/EM_bioinf_probando/venv/
/PycharmProjects/EM_bioinf_probando/venv/
/shelf/
/workspace.xml
#
#    
.idea    
.DS_Store
#
.venv
#
*~
*~ are for emacs files
#
tmp/
#
__pycache__
*.pyc
.ipynb_checkpoints